.ButtonStyle {
    background-color: #000000;
    color: rgb(255, 255, 255) !important;
    /*box-shadow: 2px 6px 10px 1px rgba(255, 255, 255, 0.2);*/
    border: 1px solid #818181;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 15.5px !important;
    
}

.ButtonStyle:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.03);
}